.header{
    background: black;
    width: 100%;
    height: 80px;
    position: absolute;
    position: fixed;
    
}
body{
    margin: 0px;
    
}
.col1{
    width: 45%;
    height: 100px;
    background: #ffc107;;
    float: left;
    
    
}
.col2{
    width: 10%;
    height: 100px;
    background: #ffc107;;
    float: left;
    
    
    
}
.col3{
    width: 45%;
    height: 100px;
    background: #7575f0;
    float: left;
    
}
.csk-logo{
    margin-left: 5px;
    margin-top: -17px;
    
}
.home{
    display: inline;
    float: left;
    margin-left: 10px;
}
.chennai{
    float: left;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffc107;;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}
li {
    float: left;
    }
    li a {
    display: block;
    color: #0066b3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    }
    li a:hover {
    background-color: #0066b3;
    color: #fff;
    
    }
    .navbar{
    width: 70%;
    height: 100px;
    background-color: #ffc107;;
    float: left;
    }
    .button{
    width: 30%;
    height: 100px;
    background-color: #ffc107;;
    float: left;
    }
    .btn{
    width: 70px;
    height: 40px;
    margin-left: 20px;
    margin-top: 26px;
    background: #0066b3;
    border-radius: 30px;
    border-width: 0;
    color: #ffc107;
    font-weight: 700;
    cursor: pointer;
    }
    .btn:hover{
    background: #012d4e;
    }
    .champions{
        width: 1366px;
        margin-top: 90px;
        
    }
    .hashtag{
        margin-left: 200px;
        margin-top: 48px;
        float: left;
    }
    .title-photo{
        float: left;
        margin-left: 30px;
        margin-top: 40px;
        font-size: 40px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #0066b3;
        

    }
    .img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-left: 30px;
        margin-top: 20px;
        border-width: 4px;
        border-color: #f36f21;
        border-style: solid;
    }
    .icon1{
        margin-left: -735px;
        margin-bottom: 10px;
    }
    .icon2{
        margin-left: 123px;
        margin-bottom: 10px;
    }
    .icon3{
        margin-left: 120px;
        margin-bottom: 10px;
    }
    .icon4{
        margin-left: 120px;
        margin-bottom: 10px;
    }
    .icon5{
        margin-left: 118px;
        margin-bottom: 10px;
    }
    .image-1{
        width: 350px;
        height: 300px;
        margin-top: 150px;
        border-radius: 10px;
        margin-left: -600px;
    }
    .image-2{
        width: 350px;
        height: 300px;
        margin-top: 150px;
        border-radius: 10px;
        margin-left: 30px;
    }
    .image-3{
        width: 500px;
        height: 300px;
        margin-top: 150px;
        border-radius: 10px;
        margin-left: 30px;
    }
    .image-4{
        width: 500px;
        height: 300px;
        margin-top: 50px;
        border-radius: 10px;
        margin-left: 37px;
    }
    .image-5{
        width: 350px;
        height: 300px;
        margin-top: 50px;
        border-radius: 10px;
        margin-left: 30px;
    }
    .image-6{
        width: 350px;
        height: 300px;
        margin-top: 50px;
        border-radius: 10px;
        margin-left: 30px;
    }
    .players{
        float: left;
        margin-left: 450px;
        margin-top: 40px;
        font-size: 40px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #0066b3;

    }
    .img-1{
        border-radius: 10px;
        margin-top: 120px;
        margin-left: -623px;
        width: 280px;
        height: 280px;
        
    }
    .img-2{
        border-radius: 10px;
        margin-top: 120px;
        margin-left: 50px;
        width: 280px;
        height: 280px;
        
    }
    .img-3{
        border-radius: 10px;
        margin-top: 120px;
        margin-left: 40px;
        width: 280px;
        height: 280px;
        
    }
    .img-4{
        border-radius: 10px;
        margin-top: 120px;
        margin-left: 40px;
        width: 280px;
        height: 280px;
        
    }
    .img-5{
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 51px;
        width: 280px;
        height: 280px;
        
    }
    .img-6{
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 50px;
        width: 280px;
        height: 280px;
        
    }
    .img-7{
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 40px;
        width: 280px;
        height: 280px;
        
    }
    .img-8{
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 40px;
        width: 280px;
        height: 280px;
        
    }
    .stadium{
        float: left;
        margin-left: 450px;
        margin-top: 50px;
        font-size: 40px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #0066b3;
        
    }
    .stadium-image{
        width: 1200px;
        height: 600px;
        margin-top: 20px;
        margin-left: 75px;
    }
    .name{
        width: 400px;
        height: 30px;
        margin-left: 100px;
        margin-top: -15px;
        border-width: 2px;
        font-weight: bold;
        float: left;
        border-radius: 5px;
    }
    .name-text{
        margin-left: 100px;
        font-size: 20px;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
        
    }
    .contact-us{
        font-size: 60px;
        margin-left: 500px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #0066b3;
    }
    .email{
        width: 400px;
        height: 30px;
        margin-left: 100px;
        border-width: 2px;
        font-weight: bold;
        float: left;
        margin-top: -15px;
        border-radius: 5px;

    }
    .email-text{
        margin-left: 100px;
        font-size: 20px;
        margin-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .form-1{
        margin-left: 360px;
        
    }
    .email-2{
        width: 410px;
        height: 35px;
        margin-left: 100px;
        border-width: 2px;
        font-weight: bold;
        float: left;
        margin-top: -15px;
        border-radius: 5px;
    }
    .email-3{
        width: 410px;
        height: 120px;
        margin-left: 100px;
        border-width: 2px;
        font-weight: bold;
        float: left;
        margin-top: -15px;
        border-radius: 5px;
        
    }
    .footer{
        width: 100%;
        height: 100px;
        background-color: #0066b3;
        padding-top: 40px;
    }
    .rights{
        font-size: 25px;
        font-weight: bold;
        margin-left: 500px;
        margin-bottom: -40px;
    }
    .twitter{
        width: 30px;
        height: 30px;
        margin-top: 15px;
        margin-left: 30px;
    }
    .foot{
        width: 100%;
        height: 50px;
        background-color: #0066b3;
        margin-top: 100px;
        padding: 40px;
    }
    .terms{
        margin-left: 850px;
        margin-top: -33px;
        font-size: 19px;
        font-weight: 500;
        cursor: pointer;
    }
    .sub-btn{
        margin-top: 150px;
        margin-left: -290px;
        width: 150px;
        height: 50px;
        background-color: #00a400;
        border-radius: 7px;
        border-width: 0;
        cursor: pointer;
        font-weight: bold;
    }
    .sub-btn:hover{
        background-color: #3b6e22;
    }
    .trophy{
        width: 230px;
        height: 60px;
        margin-top: -4px;
        margin-left: 570px;
    }
    .comments{
        
        margin-left: 99px;
        border-width: 2px;
        font-weight: bold;
        float: left;
        margin-top: -15px;
        border-radius: 5px;

    }
    
    
    
    
    
    
    
    
    
    
    
    
  
  

